<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		
		<h1>Create a Room</h1>
		<button type="button" id="createRoom">Create</button>
		<h1>Join a Room</h1>
		<input id="roomID"></input>
		<button type="button" id="joinRoom">Join</button>
		<h1>View Saved Pages</h1>
		<ul>
			<li></li>
		</ul>
		<h2>View Exports</h2> <!-- add buttons that dowload pdf, do not view-->
		<ul>
			<li></li>
		</ul>
		<!-- view users saved rooms -->
		

		<script src="{{ url_for('static', filename='userLog.js') }}"></script>
		
	</body>
</html>
